{% extends 'stepshop/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Content -->
    <!-- About Page Starts Here -->
    <div class="about-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>О нас</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-image">
              <img src="{% static 'stepshop/assets/images/about-us.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <h4>Бобёр-Inc</h4>
              <p>Мы компания учащихся програмистов.</p>
              <br>
              <p>Мы разработали этот сайт вместе с нашим очень хорошим учителем.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Page Ends Here -->
{% endblock %}